<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <!-- <div *ngIf="widgetState$ | async as widgetState">
    <div>{{ widgetState.availability }}</div>
    <div>{{ widgetState.visibility }}</div>
  </div>

  <div>{{ widgetIsReady$ | async }}</div>

  <div *ngIf="chatData$ | async as chatData">
    <div>{{ chatData.availability }}</div>
    <div>{{ chatData.visibility }}</div>
  </div>

  <div *ngIf="greeting$ | async as greeting">
    <div>{{ greeting.availability }}</div>
    <div>{{ greeting.visibility }}</div>
  </div>
  
  <div *ngIf="customerData$ | async as customerData">
    <div>{{ customerData.id }}</div>
    <div>{{ customerData.isReturning }}</div>
    <div>{{ customerData.status }}</div>
    <ul>
      <li *ngFor="let variable of customerData.sessionVariables | keyvalue">
        {{ variable.value }}
      </li>
    </ul>
  </div> -->

  <!-- <livechat-widget
    license="13819833"
    visibility="maximized"
    (onNewEvent)="handleNewEvent($event)"
  ></livechat-widget> -->
</ion-app>
